<section class="product-list" *ngIf="produtos?.length else semProdutos">
    <div class="product-list__card" *ngFor="let produto of produtos">
        <a routerLink="{{produto.id}}" class="product-list__link">
            <img [src]="produto.imagem">
            <h2 class="product-item__name">{{ produto.descricao }}</h2>
            <p class="product-item__price">{{ produto.preco | currency: "BRL" }}</p>
            <p class="product-item__price-decription">{{ produto.descricaoPreco }}</p>
            <button class="product-item__buy-button">Comprar</button>
        </a>
    </div>
</section>
<ng-template #semProdutos>
    <p>Nenhum produto encontrado.</p>
</ng-template>